@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Prata&family=Raleway:wght@300&family=Secular+One&family=Source+Serif+4:opsz@8..60&display=swap');

:root{
    --titulo: 'Prata', serif;
    --verde: rgb(39, 89, 64);
}

h1.titulo{
    font-family: var(--titulo);
    color: var(--verde);
}