*{
    padding: 10px;
    margin: 5px;
}
.titulo h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(39, 89, 64)
}

h1{
    text-align: center;
}

.formulario{
    text-align: center;
}

.resultado{
    text-align: center;
}
h2.resultado{
    color: rgb(54, 132, 93);
}


